:root {
  --primary-bg: #141850; /* background  */
  --secondary-bg: #f5cac2; /* 2nd background  */
  --card-bg: #ed7966; /* Cards  */
  --text-color: #ed7966; 
  --text-light: #141850;
  --accent-color: #ed7966;
  --border-color: #ed7966;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
  color: var(--text-light);
}

* {
  box-sizing: border-box;
}